html
  |
  |
  head
    |
    | 
    title Index of /#{Key}
    |
    |
    meta(charset="utf-8")
    |
    |
    link(rel="stylesheet", href="/css/cos.css")
    |
    |
  |
  |
  body
    |
    |
    h1 Index of /#{Key}
    |
    |
    hr
    pre
      div
        a(href="../") ../
      each file in child
        div(class="file" style=file.show?"display:flex":"display:none")
          a(href=file.relPath) #{file.relName}
          span #{file.showInfo}
    hr
    |
    |
  |
  |